# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSCB035-F2024-HW3-F118012_AB.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
